<!DOCTYPE html>
<html>
<head>
  <title>Testing123</title>
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/styles.css">
  <script type="text/javascript" src="../js/logic.js"></script>
</head>
<body>
  <div id="wrapper">
    <div class="container-fluid">
      <div class="row title-row">
        <div class="col-md-3 left-border">
          <h4>
          Ready
          </h4>
        </div>
        <div class="col-md-3 left-border">
          <h4>
          In Progress
          </h4>
        </div>
        <div class="col-md-3 left-border">
          <h4>
          In Test
          </h4>
        </div>
        <div class="col-md-3 left-border right-border">
          <h4>
          In Prod
          </h4>
        </div>
      </div> 
      <div id="cards-wrapper" class="row">
        <div class="col-md-3 lane ready left-border">
        <div class="card" draggable="true"></div>
        <div class="card" draggable="true"></div>
        <div class="card" draggable="true"></div>
        </div>
        <div class="col-md-3 lane progress left-border">
        </div>
        <div class="col-md-3 lane test left-border">
        </div>
        <div class="col-md-3 lane prod left-border right-border">
        </div>
      </div> 
    </div>
  </div> 
</body>
</html>
