/* noop the progress bar from bootstrap */
.progress {
  height: 0px;
  margin-bottom: inherit;
  overflow: inherit;
  background-color: inherit;
  border-radius: inherit;
  -webkit-box-shadow: inherit;
  box-shadow: none;
}

#wrapper {
  padding-left: 10px;
  height: 750px;
}
#wrapper .container-fluid {
  height: 100%;
  padding-left: 35px;
  padding-right: 35px;
}
#wrapper .left-border {
  border-left: 3px solid #000;
}
#wrapper .right-border {
  border-right: 3px solid #000;
}
#cards-wrapper {
  height: 100%;
}

#cards-wrapper .lane {
  height: 100%;
}

#cards-wrapper .lane.over {
  background-color: #EEE;
}

#cards-wrapper .card {
  width: 200px;
  height: 100px;
  border: 2px solid #000;
  padding: 5px;
  margin: 5px;
}

